<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bailian.dao.CategoryPerformanceCategorySaleCompMapper" >
  <resultMap id="BaseResultMap" type="com.bailian.model.CategoryPerformanceCategorySaleComp" >
    <result column="category_sid" property="categorySid" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="ninety_day_sales" property="ninetyDaySales" jdbcType="DOUBLE" />
    <result column="ninety_day_sales_ratio" property="ninetyDaySalesRatio" jdbcType="DOUBLE" />
    <result column="norm_ninety_day_sales_ratio" property="normNinetyDaySalesRatio" jdbcType="DOUBLE" />
    <result column="single_sku_sales" property="singleSkuSales" jdbcType="DOUBLE" />
    <result column="single_sku_sales_ratio" property="singleSkuSalesRatio" jdbcType="DOUBLE" />
    <result column="norm_single_sku_sales_ratio" property="normSingleSkuSalesRatio" jdbcType="DOUBLE" />
    <result column="ave_growth_rate" property="aveGrowthRate" jdbcType="DOUBLE" />
    <result column="norm_ave_growth_rate" property="normAveGrowthRate" jdbcType="DOUBLE" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.bailian.model.CategoryPerformanceCategorySaleComp" >
    insert into bl_category_performance_category_sale_comp (category_sid, level, ninety_day_sales, 
      ninety_day_sales_ratio, norm_ninety_day_sales_ratio, 
      single_sku_sales, single_sku_sales_ratio, norm_single_sku_sales_ratio, 
      ave_growth_rate, norm_ave_growth_rate, cdate
      )
    values (#{categorySid,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{ninetyDaySales,jdbcType=DOUBLE}, 
      #{ninetyDaySalesRatio,jdbcType=DOUBLE}, #{normNinetyDaySalesRatio,jdbcType=DOUBLE}, 
      #{singleSkuSales,jdbcType=DOUBLE}, #{singleSkuSalesRatio,jdbcType=DOUBLE}, #{normSingleSkuSalesRatio,jdbcType=DOUBLE}, 
      #{aveGrowthRate,jdbcType=DOUBLE}, #{normAveGrowthRate,jdbcType=DOUBLE}, #{cdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bailian.model.CategoryPerformanceCategorySaleComp" >
    insert into bl_category_performance_category_sale_comp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        category_sid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="ninetyDaySales != null" >
        ninety_day_sales,
      </if>
      <if test="ninetyDaySalesRatio != null" >
        ninety_day_sales_ratio,
      </if>
      <if test="normNinetyDaySalesRatio != null" >
        norm_ninety_day_sales_ratio,
      </if>
      <if test="singleSkuSales != null" >
        single_sku_sales,
      </if>
      <if test="singleSkuSalesRatio != null" >
        single_sku_sales_ratio,
      </if>
      <if test="normSingleSkuSalesRatio != null" >
        norm_single_sku_sales_ratio,
      </if>
      <if test="aveGrowthRate != null" >
        ave_growth_rate,
      </if>
      <if test="normAveGrowthRate != null" >
        norm_ave_growth_rate,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        #{categorySid,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="ninetyDaySales != null" >
        #{ninetyDaySales,jdbcType=DOUBLE},
      </if>
      <if test="ninetyDaySalesRatio != null" >
        #{ninetyDaySalesRatio,jdbcType=DOUBLE},
      </if>
      <if test="normNinetyDaySalesRatio != null" >
        #{normNinetyDaySalesRatio,jdbcType=DOUBLE},
      </if>
      <if test="singleSkuSales != null" >
        #{singleSkuSales,jdbcType=DOUBLE},
      </if>
      <if test="singleSkuSalesRatio != null" >
        #{singleSkuSalesRatio,jdbcType=DOUBLE},
      </if>
      <if test="normSingleSkuSalesRatio != null" >
        #{normSingleSkuSalesRatio,jdbcType=DOUBLE},
      </if>
      <if test="aveGrowthRate != null" >
        #{aveGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="normAveGrowthRate != null" >
        #{normAveGrowthRate,jdbcType=DOUBLE},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>