<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bailian.dao.CategoryPerformanceBasicMapper" >
  <resultMap id="BaseResultMap" type="com.bailian.model.CategoryPerformanceBasic" >
    <id column="category_sid" property="categorySid" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="parent_sid" property="parentSid" jdbcType="INTEGER" />
    <result column="category_tree" property="categoryTree" jdbcType="VARCHAR" />
    <result column="total_goods_num" property="totalGoodsNum" jdbcType="INTEGER" />
    <result column="off_the_shelf_goods_num" property="offTheShelfGoodsNum" jdbcType="INTEGER" />
    <result column="out_of_stock_goods_num" property="outOfStockGoodsNum" jdbcType="INTEGER" />
    <result column="brand_num" property="brandNum" jdbcType="INTEGER" />
    <result column="lowest_price" property="lowestPrice" jdbcType="DOUBLE" />
    <result column="highest_price" property="highestPrice" jdbcType="DOUBLE" />
    <result column="yhd_category_tree" property="yhdCategoryTree" jdbcType="VARCHAR" />
    <result column="yhd_category_url" property="yhdCategoryUrl" jdbcType="VARCHAR" />
    <result column="match_type" property="matchType" jdbcType="INTEGER" />
    <result column="isleaf" property="isleaf" jdbcType="INTEGER" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_sid, category_name, level, parent_sid, category_tree, total_goods_num, off_the_shelf_goods_num, 
    out_of_stock_goods_num, brand_num, lowest_price, highest_price, yhd_category_tree, 
    yhd_category_url, match_type, isleaf, cdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bl_category_performance_basic
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bl_category_performance_basic
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bailian.model.CategoryPerformanceBasic" >
    insert into bl_category_performance_basic (category_sid, category_name, level, 
      parent_sid, category_tree, total_goods_num, 
      off_the_shelf_goods_num, out_of_stock_goods_num, 
      brand_num, lowest_price, highest_price, 
      yhd_category_tree, yhd_category_url, match_type, 
      isleaf, cdate)
    values (#{categorySid,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{parentSid,jdbcType=INTEGER}, #{categoryTree,jdbcType=VARCHAR}, #{totalGoodsNum,jdbcType=INTEGER}, 
      #{offTheShelfGoodsNum,jdbcType=INTEGER}, #{outOfStockGoodsNum,jdbcType=INTEGER}, 
      #{brandNum,jdbcType=INTEGER}, #{lowestPrice,jdbcType=DOUBLE}, #{highestPrice,jdbcType=DOUBLE}, 
      #{yhdCategoryTree,jdbcType=VARCHAR}, #{yhdCategoryUrl,jdbcType=VARCHAR}, #{matchType,jdbcType=INTEGER}, 
      #{isleaf,jdbcType=INTEGER}, #{cdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bailian.model.CategoryPerformanceBasic" >
    insert into bl_category_performance_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        category_sid,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="parentSid != null" >
        parent_sid,
      </if>
      <if test="categoryTree != null" >
        category_tree,
      </if>
      <if test="totalGoodsNum != null" >
        total_goods_num,
      </if>
      <if test="offTheShelfGoodsNum != null" >
        off_the_shelf_goods_num,
      </if>
      <if test="outOfStockGoodsNum != null" >
        out_of_stock_goods_num,
      </if>
      <if test="brandNum != null" >
        brand_num,
      </if>
      <if test="lowestPrice != null" >
        lowest_price,
      </if>
      <if test="highestPrice != null" >
        highest_price,
      </if>
      <if test="yhdCategoryTree != null" >
        yhd_category_tree,
      </if>
      <if test="yhdCategoryUrl != null" >
        yhd_category_url,
      </if>
      <if test="matchType != null" >
        match_type,
      </if>
      <if test="isleaf != null" >
        isleaf,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        #{categorySid,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentSid != null" >
        #{parentSid,jdbcType=INTEGER},
      </if>
      <if test="categoryTree != null" >
        #{categoryTree,jdbcType=VARCHAR},
      </if>
      <if test="totalGoodsNum != null" >
        #{totalGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="offTheShelfGoodsNum != null" >
        #{offTheShelfGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="outOfStockGoodsNum != null" >
        #{outOfStockGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="brandNum != null" >
        #{brandNum,jdbcType=INTEGER},
      </if>
      <if test="lowestPrice != null" >
        #{lowestPrice,jdbcType=DOUBLE},
      </if>
      <if test="highestPrice != null" >
        #{highestPrice,jdbcType=DOUBLE},
      </if>
      <if test="yhdCategoryTree != null" >
        #{yhdCategoryTree,jdbcType=VARCHAR},
      </if>
      <if test="yhdCategoryUrl != null" >
        #{yhdCategoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="matchType != null" >
        #{matchType,jdbcType=INTEGER},
      </if>
      <if test="isleaf != null" >
        #{isleaf,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bailian.model.CategoryPerformanceBasic" >
    update bl_category_performance_basic
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentSid != null" >
        parent_sid = #{parentSid,jdbcType=INTEGER},
      </if>
      <if test="categoryTree != null" >
        category_tree = #{categoryTree,jdbcType=VARCHAR},
      </if>
      <if test="totalGoodsNum != null" >
        total_goods_num = #{totalGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="offTheShelfGoodsNum != null" >
        off_the_shelf_goods_num = #{offTheShelfGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="outOfStockGoodsNum != null" >
        out_of_stock_goods_num = #{outOfStockGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="brandNum != null" >
        brand_num = #{brandNum,jdbcType=INTEGER},
      </if>
      <if test="lowestPrice != null" >
        lowest_price = #{lowestPrice,jdbcType=DOUBLE},
      </if>
      <if test="highestPrice != null" >
        highest_price = #{highestPrice,jdbcType=DOUBLE},
      </if>
      <if test="yhdCategoryTree != null" >
        yhd_category_tree = #{yhdCategoryTree,jdbcType=VARCHAR},
      </if>
      <if test="yhdCategoryUrl != null" >
        yhd_category_url = #{yhdCategoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="matchType != null" >
        match_type = #{matchType,jdbcType=INTEGER},
      </if>
      <if test="isleaf != null" >
        isleaf = #{isleaf,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bailian.model.CategoryPerformanceBasic" >
    update bl_category_performance_basic
    set category_name = #{categoryName,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      parent_sid = #{parentSid,jdbcType=INTEGER},
      category_tree = #{categoryTree,jdbcType=VARCHAR},
      total_goods_num = #{totalGoodsNum,jdbcType=INTEGER},
      off_the_shelf_goods_num = #{offTheShelfGoodsNum,jdbcType=INTEGER},
      out_of_stock_goods_num = #{outOfStockGoodsNum,jdbcType=INTEGER},
      brand_num = #{brandNum,jdbcType=INTEGER},
      lowest_price = #{lowestPrice,jdbcType=DOUBLE},
      highest_price = #{highestPrice,jdbcType=DOUBLE},
      yhd_category_tree = #{yhdCategoryTree,jdbcType=VARCHAR},
      yhd_category_url = #{yhdCategoryUrl,jdbcType=VARCHAR},
      match_type = #{matchType,jdbcType=INTEGER},
      isleaf = #{isleaf,jdbcType=INTEGER},
      cdate = #{cdate,jdbcType=TIMESTAMP}
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </update>

  <select id="selectFirstLevel" resultType="java.util.Map">
    select a.category_sid, a.category_name, (a.total_goods_num-a.off_the_shelf_goods_num) goodsNum1,(a.total_goods_num - a.off_the_shelf_goods_num - a.out_of_stock_goods_num) goodsNum2,
    a.brand_num, b.ninety_day_sales, c.performance from bl_category_performance_basic a
    join bl_category_performance_category_sale_score b on a.level = 1 and a.category_sid = b.category_sid
    join bl_category_performance_score c on a.level = 1 and a.category_sid = c.category_sid ORDER BY c.performance
  </select>

  <select id="selectIndexBasic" resultType="java.util.Map">
    select c.total_num, c.brand_num, d.sales  from (select 1 id, sum(total_goods_num - off_the_shelf_goods_num) total_num ,
    sum(brand_num) brand_num from bl_category_performance_basic where level = 1) c JOIN
    (select 1 id, sum(b.sales) sales from bl_category_performance_basic a JOIN bl_category_performance_category_monthly_sales b
    on a.level = 1 and a.category_sid = b.category_sid where b.month >'2015-12') d on c.id = d.id
  </select>

  <select id="selectCategoryTree" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from bl_category_performance_basic
    <where>
      <if test="_parameter != null" >
        category_sid = #{_parameter,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="listPage" resultType="com.bailian.model.CategoryPerformanceBasic" parameterType="java.util.Map">
    SELECT DISTINCT
    a.*, b.brandsNum,
    b.goodsNum
    FROM
    bl_category_performance_basic a
    JOIN YHD_CATEGORY b ON a.yhd_category_tree = b.category_name
    <where>
      <if test="categorySid != null" >
       AND category_sid = #{categorySid,jdbcType=INTEGER}
      </if>
      and isleaf = 1
    </where>
    <if test="columnOrder != null">
      ORDER BY ${columnOrder}
    </if>
  </select>
</mapper>