<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bailian.dao.CategoryPerformanceProductLineScoreMapper" >
  <resultMap id="BaseResultMap" type="com.bailian.model.CategoryPerformanceProductLineScore" >
    <id column="category_sid" property="categorySid" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="avg_eighty_percent_cnr" property="avgEightyPercentCnr" jdbcType="DOUBLE" />
    <result column="eighty_percent_cnr_score" property="eightyPercentCnrScore" jdbcType="DOUBLE" />
    <result column="avg_shelf_sales_ratio" property="avgShelfSalesRatio" jdbcType="DOUBLE" />
    <result column="shelf_sales_ratio_score" property="shelfSalesRatioScore" jdbcType="DOUBLE" />
    <result column="price_correlation" property="priceCorrelation" jdbcType="DOUBLE" />
    <result column="price_correlation_score" property="priceCorrelationScore" jdbcType="DOUBLE" />
    <result column="org_score" property="orgScore" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_sid, category_name, avg_eighty_percent_cnr, eighty_percent_cnr_score, avg_shelf_sales_ratio, 
    shelf_sales_ratio_score, price_correlation, price_correlation_score, org_score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bl_category_performance_product_line_score
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bl_category_performance_product_line_score
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bailian.model.CategoryPerformanceProductLineScore" >
    insert into bl_category_performance_product_line_score (category_sid, category_name, avg_eighty_percent_cnr, 
      eighty_percent_cnr_score, avg_shelf_sales_ratio, 
      shelf_sales_ratio_score, price_correlation, price_correlation_score, 
      org_score)
    values (#{categorySid,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{avgEightyPercentCnr,jdbcType=DOUBLE}, 
      #{eightyPercentCnrScore,jdbcType=DOUBLE}, #{avgShelfSalesRatio,jdbcType=DOUBLE}, 
      #{shelfSalesRatioScore,jdbcType=DOUBLE}, #{priceCorrelation,jdbcType=DOUBLE}, #{priceCorrelationScore,jdbcType=DOUBLE}, 
      #{orgScore,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.bailian.model.CategoryPerformanceProductLineScore" >
    insert into bl_category_performance_product_line_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        category_sid,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="avgEightyPercentCnr != null" >
        avg_eighty_percent_cnr,
      </if>
      <if test="eightyPercentCnrScore != null" >
        eighty_percent_cnr_score,
      </if>
      <if test="avgShelfSalesRatio != null" >
        avg_shelf_sales_ratio,
      </if>
      <if test="shelfSalesRatioScore != null" >
        shelf_sales_ratio_score,
      </if>
      <if test="priceCorrelation != null" >
        price_correlation,
      </if>
      <if test="priceCorrelationScore != null" >
        price_correlation_score,
      </if>
      <if test="orgScore != null" >
        org_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        #{categorySid,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="avgEightyPercentCnr != null" >
        #{avgEightyPercentCnr,jdbcType=DOUBLE},
      </if>
      <if test="eightyPercentCnrScore != null" >
        #{eightyPercentCnrScore,jdbcType=DOUBLE},
      </if>
      <if test="avgShelfSalesRatio != null" >
        #{avgShelfSalesRatio,jdbcType=DOUBLE},
      </if>
      <if test="shelfSalesRatioScore != null" >
        #{shelfSalesRatioScore,jdbcType=DOUBLE},
      </if>
      <if test="priceCorrelation != null" >
        #{priceCorrelation,jdbcType=DOUBLE},
      </if>
      <if test="priceCorrelationScore != null" >
        #{priceCorrelationScore,jdbcType=DOUBLE},
      </if>
      <if test="orgScore != null" >
        #{orgScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bailian.model.CategoryPerformanceProductLineScore" >
    update bl_category_performance_product_line_score
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="avgEightyPercentCnr != null" >
        avg_eighty_percent_cnr = #{avgEightyPercentCnr,jdbcType=DOUBLE},
      </if>
      <if test="eightyPercentCnrScore != null" >
        eighty_percent_cnr_score = #{eightyPercentCnrScore,jdbcType=DOUBLE},
      </if>
      <if test="avgShelfSalesRatio != null" >
        avg_shelf_sales_ratio = #{avgShelfSalesRatio,jdbcType=DOUBLE},
      </if>
      <if test="shelfSalesRatioScore != null" >
        shelf_sales_ratio_score = #{shelfSalesRatioScore,jdbcType=DOUBLE},
      </if>
      <if test="priceCorrelation != null" >
        price_correlation = #{priceCorrelation,jdbcType=DOUBLE},
      </if>
      <if test="priceCorrelationScore != null" >
        price_correlation_score = #{priceCorrelationScore,jdbcType=DOUBLE},
      </if>
      <if test="orgScore != null" >
        org_score = #{orgScore,jdbcType=DOUBLE},
      </if>
    </set>
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bailian.model.CategoryPerformanceProductLineScore" >
    update bl_category_performance_product_line_score
    set category_name = #{categoryName,jdbcType=VARCHAR},
      avg_eighty_percent_cnr = #{avgEightyPercentCnr,jdbcType=DOUBLE},
      eighty_percent_cnr_score = #{eightyPercentCnrScore,jdbcType=DOUBLE},
      avg_shelf_sales_ratio = #{avgShelfSalesRatio,jdbcType=DOUBLE},
      shelf_sales_ratio_score = #{shelfSalesRatioScore,jdbcType=DOUBLE},
      price_correlation = #{priceCorrelation,jdbcType=DOUBLE},
      price_correlation_score = #{priceCorrelationScore,jdbcType=DOUBLE},
      org_score = #{orgScore,jdbcType=DOUBLE}
    where category_sid = #{categorySid,jdbcType=INTEGER}
  </update>
</mapper>