<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bailian.dao.CategoryPerformanceBlYhdBrandContrastMapper" >
  <resultMap id="BaseResultMap" type="com.bailian.model.CategoryPerformanceBlYhdBrandContrast" >
    <result column="category_sid" property="categorySid" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="yhd_cate_url" property="yhdCateUrl" jdbcType="VARCHAR" />
    <result column="yhd_brand" property="yhdBrand" jdbcType="VARCHAR" />
    <result column="bl_brand" property="blBrand" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.bailian.model.CategoryPerformanceBlYhdBrandContrast" >
    insert into bl_category_performance_bl_yhd_brand_contrast (category_sid, category_name, yhd_cate_url, 
      yhd_brand, bl_brand)
    values (#{categorySid,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{yhdCateUrl,jdbcType=VARCHAR}, 
      #{yhdBrand,jdbcType=VARCHAR}, #{blBrand,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bailian.model.CategoryPerformanceBlYhdBrandContrast" >
    insert into bl_category_performance_bl_yhd_brand_contrast
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        category_sid,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="yhdCateUrl != null" >
        yhd_cate_url,
      </if>
      <if test="yhdBrand != null" >
        yhd_brand,
      </if>
      <if test="blBrand != null" >
        bl_brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categorySid != null" >
        #{categorySid,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="yhdCateUrl != null" >
        #{yhdCateUrl,jdbcType=VARCHAR},
      </if>
      <if test="yhdBrand != null" >
        #{yhdBrand,jdbcType=VARCHAR},
      </if>
      <if test="blBrand != null" >
        #{blBrand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="listPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from bl_category_performance_bl_yhd_brand_contrast
    <where>
      <if test="_parameter != null">
        category_sid = #{_parameter, jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select DISTINCT* from bl_category_performance_bl_yhd_brand_contrast
    <where>
      <if test="_parameter != null">
        category_sid = #{_parameter, jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>